<div class="menu">
        <header>
        <span>Menu</span>
        </header>
        <ul class="submenu">
            <li><a class="aEdit" href="/cadastro">Cadastro</a></li>
            <li><a class="aEdit" href="/login">Login</a></li>
        </ul>
    </div>

<div class="container" id="container">

      

   
        <h1>Cadastro de pessoas</h1>
        <div id="cadastro">
          <a>Usuário: </a>
        <input type="text" id="inputName" placeholder="Digite seu usuário">
        <br>
        <br>
          <a>Senha: </a>
        <input type="text" id="inputPass"  placeholder="Digite sua senha">
        <br>
        <br>
        <button class="button" type="button" id="btn_cadastro">Criar conta</button>
      
    
          

        </div>
    </div>

    

     <script src='/public/javascript.js'></script>