<div class="menu">
        <header>
        <span>Menu</span>
        </header>
        <ul class="submenu">
            <li><a class="aEdit" href="/cadastro">Cadastro</a></li>
            <li><a class="aEdit" href="/login">Login</a></li>
        </ul>
    </div>

<div class="container" id="container">

      

   
        <h1>Login de Pessoas</h1>
        <div id="cadastro">
          <a>Usuário:</a>
        <input type="text" id="inputNameLogin" placeholder="Digite seu usuário">
        <br>
        <br>
          <a>Senha:</a>
        <input type="text" id="inputPassLogin" placeholder="Digite sua senha">
        <br>
        <br>
        <button class="button "type="button" id="btn_login">Logar</button>
      
    
          

        </div>
    </div>

    

     <script src='/public/javascriptoLogin.js'></script>