

<div class="container" id="container">
    <h1>Histórico de Login</h1>
      <div class="table" id="table"></div>

   <br>
    <button class="button" id="logout">LOGOUT</button>
        
    
    

     <div id="userIdHolder" data-user-id="{{ userId }}"></div>

     <script src='/public/menujs.js'></script>